vendor/
tests/functional/vendor/
tests/nats/data/
tests/nats/data
tests/nats/data-tls/
tests/nats/data-tls
tests/functional/var/cache/
coverage/
clover.xml
.phpunit.cache
.phpunit.result.cache
.infection/
infection.log
.vscode
.phpstan/
.cache
composer.lock